# Build & IDE
target/
out/
.idea/
*.iml
.DS_Store

# Output & Logs
**/checker/output/
*.zip
*.log

# Allow all input dataset articles
!checker/input/articles/*.json
!checker/input/tests/**/*.json
!**/articles_*.json

# Generated output text files
*.txt
!checker/input/**/*.txt
!files/*.txt
