# Build & IDE
target/
out/
.idea/
*.iml
.DS_Store

# Exclude large datasets & checker outputs
**/checker/input/articles/
**/checker/output/
*.json
*.zip
*.log

# Whitelist small test json files
!checker/input/tests/test_small/*.json
!**/articles_small_*.json

# Generated output text files
*.txt
!checker/input/**/*.txt
!files/*.txt
